<ion-header>
  <ion-navbar>
    <ion-title>Listar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<div  *ngFor="let elemento of elementos" >
			<ion-card  *ngIf="!!elemento ">
				<button ion-item (click)="presentActionSheet(value,elemento.id)">
						<ion-card-header>
							<ion-card-title>{{elemento.name}}</ion-card-title>
						</ion-card-header>
						<ion-card-content>
							{{elemento.category}}
						</ion-card-content>
				</button>
			</ion-card>
		</div>
	</ion-list>
	
</ion-content>
