<!--
  Generated template for the CreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title  *ngIf="tipo">
    	Cadastrar
	</ion-title>
	<ion-title  *ngIf="!tipo">
    	Editar
	</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!-- Restaurante-->

<div *ngIf=" data == 1">
	<form (ngSubmit)="logForm()">
		<ion-item  *ngIf="tipo">
			<ion-label>Id</ion-label>
			<ion-input type="text" [(ngModel)]="todo.Id" name="Id" required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Nome</ion-label>
			<ion-input type="text" [(ngModel)]="todo.name" value="clear me" name="name" required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Categoria</ion-label>
			<ion-input type="text" required [(ngModel)]="todo.category" name="category"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Tempo estimado</ion-label>
			<ion-input type="number" required [(ngModel)]="todo.deliveryEstimate" name="deliveryEstimate"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Nota</ion-label>
			<ion-input type="number" max="5" required [(ngModel)]="todo.rating" name="rating"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Horas</ion-label>
			<ion-input type="text" required [(ngModel)]="todo.hours" name="hours"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Imagem</ion-label>
			<ion-input type="file" required accept="image/png, image/jpeg" [(ngModel)]="todo.imagePath" name="imagePath"></ion-input>
		</ion-item>	
		<ion-item>
			<ion-label>Sobre</ion-label>
			<ion-textarea required [(ngModel)]="todo.about" name="about"></ion-textarea>
		</ion-item>
	      <button *ngIf="tipo" ion-button type="submit" block>Criar</button>
	      <button *ngIf="!tipo" ion-button type="submit" block>Editar</button>
	</form>
</div>
<!-- Menu-->
<div *ngIf=" data == 2">
	<form (ngSubmit)="logForm()">
		<ion-item *ngIf="tipo">
			<ion-label>Id</ion-label>
			<ion-input type="text" required [(ngModel)]="todo.Id" name="Id"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Nome</ion-label>
			<ion-input type="text" required [(ngModel)]="todo.name" name="name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>RestauranteId</ion-label>
			<ion-input type="text" required [(ngModel)]="todo.restaurantId" name="restaurantId"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Preço</ion-label>
			<ion-input type="number" required [(ngModel)]="todo.price" name="price"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Imagem</ion-label>
			<ion-input type="file" required accept="image/png, image/jpeg" [(ngModel)]="todo.imagePath" name="imagePath"></ion-input>
		</ion-item>	
		<ion-item>
			<ion-label>Descrição</ion-label>
			<ion-textarea required [(ngModel)]="todo.description" name="description"></ion-textarea>
		</ion-item>
	      <button *ngIf="tipo" ion-button type="submit" block>Criar</button>
	      <button *ngIf="!tipo" ion-button type="submit" block>Editar</button>
	</form>
</div>
<!--Review-->
<div *ngIf=" data == 3">
	<form (ngSubmit)="logForm()">
		<ion-item>
			<ion-label>Nome</ion-label>
			<ion-input required type="text" [(ngModel)]="todo.name" name="name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Nota</ion-label>
			<ion-input required type="number" max="5" [(ngModel)]="todo.rating" name="rating"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>restaurantId</ion-label>
			<ion-input required type="text" [(ngModel)]="todo.restaurantId" name="restaurantId"></ion-input>
		</ion-item>	
		<ion-item>
			<ion-label>Comentário</ion-label>
			<ion-textarea required [(ngModel)]="todo.comments" name="comments"></ion-textarea>
		</ion-item>
	      <button *ngIf="tipo" ion-button type="submit" block>Criar</button>
	      <button *ngIf="!tipo" ion-button type="submit" block>Editar</button>
	</form>
</div>
<!--Orders-->
<div *ngIf=" data == 4">
	<form (ngSubmit)="logForm()">
		<ion-item>
			<ion-label>Id</ion-label>
			<ion-input type="text" required [(ngModel)]="todo.Id" name="Id"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>RestauranteId</ion-label>
			<ion-input type="text" required [(ngModel)]="todo.restaurantId" name="restaurantId"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>MenuId</ion-label>
			<ion-input type="text" required [(ngModel)]="todo.menuId" name="menuId"></ion-input>
		</ion-item>
	      <button *ngIf="tipo" ion-button type="submit" block>Criar</button>
	      <button *ngIf="!tipo" ion-button type="submit" block>Editar</button>
	</form>
</div>
</ion-content>
