<!--
  Generated template for the CreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>create</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<div *ngIf=" value == 1">
	<form (ngSubmit)="logForm()">
		<ion-item>
			<ion-label>Id</ion-label>
			<ion-input type="text" [(ngModel)]="todo.Id" name="Id"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>name</ion-label>
			<ion-input type="text" [(ngModel)]="todo.name" name="name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>category</ion-label>
			<ion-input type="text" [(ngModel)]="todo.category" name="category"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>deliveryEstimate</ion-label>
			<ion-input type="number" [(ngModel)]="todo.deliveryEstimate" name="deliveryEstimate"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>rating</ion-label>
			<ion-input type="number" max="5" [(ngModel)]="todo.rating" name="rating"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>hours</ion-label>
			<ion-input type="text" [(ngModel)]="todo.hours" name="hours"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>imagePath</ion-label>
			<ion-input type="image" [(ngModel)]="todo.imagePath" name="imagePath"></ion-input>
		</ion-item>	
		<ion-item>
			<ion-label>about</ion-label>
			<ion-textarea [(ngModel)]="todo.about" name="about"></ion-textarea>
		</ion-item>
	      <button ion-button type="submit" block>Criar</button>
	</form>
</div>
<div *ngIf=" value == 2">
	<form (ngSubmit)="logForm()">
		<ion-item>
			<ion-label>Id</ion-label>
			<ion-input type="text" [(ngModel)]="todo.Id" name="Id"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Name</ion-label>
			<ion-input type="text" [(ngModel)]="todo.name" name="name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>restaurantId</ion-label>
			<ion-input type="text" [(ngModel)]="todo.restaurantId" name="name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Price</ion-label>
			<ion-input type="number" max="5" [(ngModel)]="todo.price" name="price"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Image</ion-label>
			<ion-input type="image" [(ngModel)]="todo.imagePath" name="imagePath"></ion-input>
		</ion-item>	
		<ion-item>
			<ion-label>Description</ion-label>
			<ion-textarea [(ngModel)]="todo.description" name="description"></ion-textarea>
		</ion-item>
	      <button ion-button type="submit" block>Criar</button>
	</form>
</div>
</ion-content>
